parameters:
    level: 10
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-12.3-0/vendor/autoload.php
    ignoreErrors:
        # Allow overridden documentation for HttpClient options
        -
            message:
                """
                #^Parameter \\#3 \\$options .+ of method AymDev\\\\ApiClientBundle\\\\Client\\\\ApiClient\\:\\:request\\(\\) should be contravariant with parameter \\$options \\(array\\) of method Symfony\\\\Contracts\\\\HttpClient\\\\HttpClientInterface\\:\\:request\\(\\)$#
                """
            path: src/Client/ApiClient.php